{% extends "layout.html" %}
{% load static %}

{% block title %} Registro {% endblock %}

{% block content %}
    <div class="register-container">
        <div class="register">
            
            <h1>Registrate</h1>

            {% if messages %}
                {% for messages in messages %}
                    <div class="lert">
                        {{ messages }}
                    </div>
                {% endfor %}
            {% endif %}

            <form action="" method="POST">
                {% csrf_token %}
                {{ register_form.as_p }}
                <button>Registrarse</button>
            </form>
            <a href="{% url "login" %}" class="login-link">¿Ya tienes una cuenta? Inicia sesion aquí</a>
        </div>
    </div>
{% endblock %}
